<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShoesUt</title>
    <link rel="preload" href="cliente.component.css" as="style"><!--con esto carga mas rapido la hoja de estilos-->
  
</head>
<body>
    <header>
         
    </header>
  
    <main class="main">
        
            <a href="login.html" class="ingresar_link">Ingresar</a>
       
        <h2 class="main_titulo">Categorías</h2>
        

        <div class="categorias">
            <section class="categorias_categoria">
                <h3>Casuales</h3>
            
            </section>

            <section class="categorias_categoria">
                <h3>Formales</h3>
                
              
            </section>

            <section class="categorias_categoria">
                <h3>Deportivos</h3>
                
            </section>

            <!--buscar-->

            <section>
            <nav>
                <div class="contNav">
        
                    <div class="cont">
                        <form class="cont_form">
                            <input class="cont_form-input" type="search" placeholder="Buscar">
                            <input class="cont_form-boton" class="boton" type="submit" value="Buscar">
                        </form>
                    </div>
                
                </div>
            </nav>
        </section>

        </div>    
    </main>
     <!--<div class="muestra">
        
      
        
      
        <div class="muestra_img muestra_p1"> 
            <img src="images/p1.jpg" alt="Producto 1">
        </div>

        <div class="muestra_img muestra_p2">
            <img src="images/p2.jpg" alt="Producto 2">
        </div>

        <div class="muestra_img muestra_p3">
            <img src="images/p3.jpg" alt="Producto 3">
        </div>

    </div>--> 
   


    <footer>
        <p>Todos los derechos reservados.</p>
    </footer>
   
</body>
</html>
